/* SPDX-FileCopyrightText: 2026 ScriptKittyOS and the Kotiko contributors */
/* SPDX-License-Identifier: Apache-2.0 */

span.kotiko-w {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.18em;
  cursor: help;
}
